.card {
    display: inline-grid;
    width: 200px;
    height: 300px;
    margin: 20px;
    background:#44f4eb9d;
    box-sizing: border-box;
    border: 1px solid  rgba(0,0,0,1);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    img {
        width: 100%;
    }
    label {
        font-size: 20px;
    }
}
.button{
    background-color: #44f4eb9d;
    border-radius: 10px;
    font-size: 15px;
}
