.container {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 70%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #EFF7FA; 
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    p {
        font-size: 25px;
        font-weight: bold;
    }
}
.card{
    font-size: 30px;
}
.button{
    width: 20%;
    height: 30px;
    display: inline-block;
    background-color: #44f4eb9d;
    border-radius: 5px;
    border:1px solid  rgba(0,0,0,1);
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}
