.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(191, 60, 60, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px;
    border-radius: 10px; 
    font-family: 'Courier New', Courier, monospace;
}
.footer{
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    button{
        cursor: pointer;
        padding: 10px;
        font-size: 16px;
        background-color: transparent;
        border: none;
    }
}
.card{
    position: relative;
    margin: 20px;
    label{
        font-size: 18px;
    }
    input{
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        color: #171414;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
    }
    button{
        width: 100%;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
    }
}