.container{
    position: absolute;
    top: 28%;
    left: 50%;
    width: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #EFF7FA;
    box-sizing: border-box;
    border-radius: 10px; 
    font-family: 'Courier New', Courier, monospace;
}

.card{
    text-align: center;
    position: relative;
    right: 10%;
    margin: 20px;
    div{
        height: 10px;
    }
    h1{
        display: inline-block;
        position: inherit;
        padding: 10px;
    }
    label{
        font-size: 18px;
    }
    input{
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        color: #171414;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
    }
    button{
        width: 100%;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border: 1px solid #fff;
    
    }
}
.button{

    left: 10%;
    cursor: pointer;
    display:inline-block;
    height: 20px;
    position: relative;
    text-decoration: none;
    color: rgba(0,0,0,1);
    div{
        margin: 20px;
        width: fit-content;
        padding: 10px;
        border: rgba(0,0,0,0.5);
        background:#44f4eb9d;
        border-radius: 5px;
        border: 1px solid #fff;

    }
    h1{
        margin: 0px;
    }



}