.card {
    display: inline-grid;
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: rgb(71, 62, 106);
    box-sizing: border-box;
    border: 1px solid  rgba(0,0,0,1);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    img {
        width: 100%;
    }
    label {
        font-size: 20px;
    }
}
