.container {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #292C3D;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    p {
        font-size: 25px;
        font-weight: bold;
    }
}
.button{
    color: #000;
    width: 20%;
    height: 30px;
    display: inline-block;
    background-color: rgba(107, 255, 77, 1);
    border-radius: 5px;
    border:1px solid  #fff;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}
